:root {
  --main-color: red;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "DynaPuff", sans-serif;
}

button {
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s;
  border-radius: 5px;
}
.hero__btn {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 3rem;
}
